.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.texto, .imagen {
    flex: 1;
    padding: 20px;
}

.texto {
    flex: 1;
    padding: 20px;
    text-align: center;
    
   
}

.navbar-nav {
    justify-content: center;
}
.custom-link {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }