/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 204, 0);
    padding: 10px 20px;
  }
  
  .navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .navbar-links li a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  /* Ocultar el menú en dispositivos pequeños */
  .navbar-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      gap: 10px;
      background-color: #333;
      position: absolute;
      top: 60px;
      right: 20px;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  